In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import os

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(os.path.join("weather_data", "cities.csv"))
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2020-08-30 20:28:51,5.41,100.34,80.60,94,40,2.24
1,1,Faanui,PF,2020-08-30 20:30:08,-16.48,-151.75,76.86,76,18,22.46
2,2,Albany,US,2020-08-30 20:26:15,42.60,-73.97,72.00,44,0,13.24
3,3,Canas,CR,2020-08-30 20:30:08,10.43,-85.09,86.00,79,40,9.17
4,4,Geraldton,AU,2020-08-30 20:27:42,-28.77,114.60,44.60,93,0,10.29

In [10]:
# Check types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [30]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [29]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [46]:
# Filter the city_data_df
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                         (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2020-08-30 20:28:51,5.41,100.34,80.60,94,40,2.24
1,1,Faanui,PF,2020-08-30 20:30:08,-16.48,-151.75,76.86,76,18,22.46
3,3,Canas,CR,2020-08-30 20:30:08,10.43,-85.09,86.00,79,40,9.17
5,5,Kapaa,US,2020-08-30 20:30:09,22.08,-159.32,82.99,69,40,16.11
7,7,Wenatchee,US,2020-08-30 20:30:09,47.42,-120.31,78.01,20,1,3.36

In [62]:
preferred_cities_df.count()

City_ID       399
City          399
Country       399
Date          399
Lat           399
Lng           399
Max Temp      399
Humidity      399
Cloudiness    399
Wind Speed    399
dtype: int64

In [64]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head()

/Users/Cedoula/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         City Country  Max Temp    Lat     Lng Hotel Name
0  Georgetown      MY     80.60   5.41  100.34
1      Faanui      PF     76.86 -16.48 -151.75
3       Canas      CR     86.00  10.43  -85.09
5       Kapaa      US     82.99  22.08 -159.32
7   Wenatchee      US     78.01  47.42 -120.31

In [ ]:
# Set parameters to search for a hotel.
params = {
    "key": g_key,
    "'type": "lodging",
    "radius": 5000,
    "location": (hotel_df)
}