In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(-90, 90, size=1500)
lngs = np.random.uniform(-180, 180, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [6]:
from citipy import citipy

In [7]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
cities = [
    (citipy.nearest_city(coordinate[0],coordinate[1]).city_name,
     citipy.nearest_city(coordinate[0],coordinate[1]).country_code)
    for coordinate in coordinates
    if citipy.nearest_city(coordinate[0],coordinate[1]).city_name not in cities]
# Print the city count to confirm sufficient count.
len(cities)

1500

In [10]:
# Import your Requests Library and the weather_api_key.
import requests
from config import weather_api_key

In [11]:
# Build the basic URL for the OpenWeatherMap with your weather_api_key added to the URL.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [13]:
# Import the datetime module from the datetime library.
from datetime import datetime

# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):
    
    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count+=1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city[0].replace(" ","+")
    
    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of the Set {set_count} | {city[0]}")
    
    # Add 1 to the record count.
    record_count+=1

    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime("%Y-%m-%d %H:%M:%S")
        city_name = city_weather["name"]
        city_country = city_weather["sys"]["country"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        # Append the city information into city_data list.
        city_data.append({
            "City": city[0].title(),
            "Lat": city_lat,
            "Lng": city_lng,
            "Max Temp": city_max_temp,
            "Humidity": city_humidity,
            "Cloudiness": city_clouds,
            "Wind Speed": city_wind,
            "Country": city_country,
            "Date": city_date})
    # If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

In [21]:
len(city_data)

1371

In [23]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Georgetown,5.41,100.34,80.60,94,40,2.24,MY,2020-08-30 20:28:51
1,Faanui,-16.48,-151.75,76.86,76,18,22.46,PF,2020-08-30 20:30:08
2,Albany,42.60,-73.97,72.00,44,0,13.24,US,2020-08-30 20:26:15
3,Canas,10.43,-85.09,86.00,79,40,9.17,CR,2020-08-30 20:30:08
4,Geraldton,-28.77,114.60,44.60,93,0,10.29,AU,2020-08-30 20:27:42
5,Kapaa,22.08,-159.32,82.99,69,40,16.11,US,2020-08-30 20:30:09
6,Esperance,-33.87,121.90,42.80,93,0,11.41,AU,2020-08-30 20:30:09
7,Wenatchee,47.42,-120.31,78.01,20,1,3.36,US,2020-08-30 20:30:09
8,Yurimaguas,-5.90,-76.08,95.00,59,40,6.93,PE,2020-08-30 20:30:09
9,Luderitz,-26.65,15.16,56.55,39,85,28.10,NA,2020-08-30 20:26:18

In [25]:
# Reorder the columns
city_data_df = city_data_df[["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Georgetown,MY,2020-08-30 20:28:51,5.41,100.34,80.60,94,40,2.24
1,Faanui,PF,2020-08-30 20:30:08,-16.48,-151.75,76.86,76,18,22.46
2,Albany,US,2020-08-30 20:26:15,42.60,-73.97,72.00,44,0,13.24
3,Canas,CR,2020-08-30 20:30:08,10.43,-85.09,86.00,79,40,9.17
4,Geraldton,AU,2020-08-30 20:27:42,-28.77,114.60,44.60,93,0,10.29
5,Kapaa,US,2020-08-30 20:30:09,22.08,-159.32,82.99,69,40,16.11
6,Esperance,AU,2020-08-30 20:30:09,-33.87,121.90,42.80,93,0,11.41
7,Wenatchee,US,2020-08-30 20:30:09,47.42,-120.31,78.01,20,1,3.36
8,Yurimaguas,PE,2020-08-30 20:30:09,-5.90,-76.08,95.00,59,40,6.93
9,Luderitz,NA,2020-08-30 20:26:18,-26.65,15.16,56.55,39,85,28.10

In [26]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")